.H {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #ece8de;
  font-weight: 500;
}
.cartt {
  min-height: 53.7vh;
  margin-top: 80px;
}
.cartBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_aboutPage2 {
  border: #000000;
  height: 70px;
  width: 240px;
  margin-top: 100px;
  background: #6e9c9f;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px !important;
}
#accept {
  width: 140px;
  height: 60px;
  margin-top: 0px;
  margin: 0 1%;
  font-size: 15px;
}
.accept {
  width: 200px;
  height: 60px;
  margin-top: 0px;
  margin: 0 1%;
  font-size: 15px;
  border: #000000;
  background: #6e9c9f;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px !important;
}
#adpativedH {
  margin-bottom: 0px !important;
}
.back {
  border: #000000;
  background: #6e9c9f;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  margin: 0 1%;
  font-size: 15 px;
  margin-bottom: 10px;
}
.cartAdaptive {
  min-height: 53.7vh;
  display: none;
}
#back {
  width: 140px;
  height: 60px;
  margin: 0 1%;
  margin-left: 0px;
  font-size: 15 px;
}
.cartBot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media all and (max-width: 564px) {
  .cartt {
    display: none;
  }
  .cartAdaptive {
    display: block;
  }
  .cartBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
