.about {
  font-weight: 500;
  margin: 0 11%;
}
.aboutTop {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutPage_h1 {
  font-weight: 500;
  font-size: 55px;
}
.breadcrumbs {
  display: flex;
  padding-bottom: 45px;
  font-size: 18px;
  margin-left: 10px;
}
#breadcrumb1:hover {
  cursor: pointer;
  border-bottom: 1px solid #6e9c9f;
}
#breadcrumb2 {
  color: #909090;
  margin-left: 10px;
}
#breadcrumb3 {
  color: #909090;
  margin-left: 10px;
}
.aboutPage_main_a {
  display: flex;
  align-items: center;
}
.info1 {
  width: 100%;
}
.content_aboutPage {
  max-width: 1107px;
  margin: 0 auto;
}
.blockImg {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
}
.block_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
  width: 1107px;
  height: 547px;
}

.first_h3 {
  font-weight: 500;
  font-size: 30px;
}
.text_block1 {
  max-width: 542px;
  font-size: 17px;
  line-height: 25px;
}
.block_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second_h3 {
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}
.text_block2 {
  width: 542px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  line-height: 28px;
}
.img1_aboutPage {
  height: 547px;
  width: 442px;
}
.img2_aboutPage {
  height: 547px;
  width: 442px;
}
.btn_aboutPage {
  border: #000000;
  height: 70px;
  width: 240px;
  margin-top: 100px;
  background: #6e9c9f;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
}
.btn_aboutPage:hover {
  transition: 0.6s;
  background: #527e81;
}

@media (max-width: 1024px) {
  .aboutPage_h1 {
    margin-left: 32px;
  }
  .breadcrumbs {
    margin-left: 40px;
  }
  .block_1 {
    width: 1000px;
  }
  .text_block1 {
    width: 400px;
    margin-right: 40px;
  }
  .img1_aboutPage {
    width: 350px;
    margin-left: 45px;
    height: fit-content;
  }
  .block_2 {
    width: 1000px;
  }
  .second_h3 {
    width: 450px;
    margin-left: 40px;
  }
  .text_block2 {
    width: 450px;
    margin-left: 40px;
  }
  .img2_aboutPage {
    width: 350px;
    height: 450px;
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .aboutPage_h1 {
    width: 100%;
    margin-left: 45px;
  }
  .breadcrumbs {
    width: 100%;
    margin-left: 45px;
  }
  .block_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .first_h3 {
    width: 100%;
    margin-left: 45px;
  }
  .block_2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    align-items: center;
  }
  .text_block1 {
    width: 100%;
    margin-left: 45px;
  }
  .img1_aboutPage {
    width: 100%;
    height: fit-content;
  }
  .img2_aboutPage {
    width: 100%;
    margin: 0;
    margin-left: 45px;
    height: fit-content;
  }
  .text_block2 {
    width: 100%;
  }
  .blockImg {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .aboutPage_h1 {
    width: 100%;
    margin-left: 0;
  }
  .breadcrumbs {
    width: 100%;
    margin-left: 0;
  }
  .block_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .first_h3 {
    width: 100%;
    margin-left: 0;
  }
  .text_block1 {
    width: 100%;
    margin-left: 0;
    font-size: 13px;
    line-height: 28px;
  }
  .img1_aboutPage {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  .img2_aboutPage {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  .second_h3 {
    width: 100%;
    margin-left: 0;
  }
  .text_block2 {
    width: 100%;
    margin-left: 0;
    font-size: 13px;
    line-height: 30px;
  }
}
@media (max-width: 320px) {
  .aboutPage_h1 {
    width: 100%;
    margin-left: 0;
    font-size: 44px;
  }
  .breadcrumbs {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
  }
  .block_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
  }
  .first_h3 {
    width: 100%;
    margin-left: 0;
    font-size: 25px;
  }
  .img1_aboutPage {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  .text_block1 {
    width: 100%;
    margin-left: 0;
    font-size: 13px;
    /* line-height: 28px; */
  }
  .second_h3 {
    width: 100%;
    margin-left: 0;
    font-size: 22px;
  }
  .text_block2 {
    width: 100%;
    margin-left: 0;
    font-size: 13px;
    /* line-height: 30px; */
  }
  .divBtn {
    margin: 0;
    margin-top: -70px;
    padding: 0;
  }
}
