.nav {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav-list-item {
  font-size: 15px;
  list-style-type: none;
  transition: all 0.2s ease;
}

.nav-list-item:hover {
  cursor: pointer;
  color: #6e9c9f;
}

.nav-acc {
  display: flex;
  align-items: center;
}

.nav-acc span {
  font-size: 20px;
}

.nav-btn {
  font-size: 15px;
  border: none;
  background-color: #fff;
  transition: all 0.2s ease;
}

.nav-btn:hover {
  cursor: pointer;
  color: #6e9c9f;
}

.menu-btn {
  display: none;
  color: #fff;
  padding: 7px 15px;
  font-size: 16px;
  background-color: #6e9c9f;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu-btn:hover {
  background-color: #5d8d90;
}

.reg-title {
  margin-left: 15px;
}

.auth-btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.auth-btn:hover {
  color: #6e9c9f;
}

.active {
  color: #6e9c9f;
}

.forgot-text {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline;
}

.forgot-text:hover {
  color: #6e9c9f;
}

@media all and (max-width: 991px) {
  .nav {
    padding: 8px 20px;
  }

  .nav-list {
    display: none;
  }

  .nav-acc {
    display: none;
  }

  .menu-btn {
    display: block;
    float: left;
  }
}
