.payment {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 0 11.5%;
  margin-bottom: 120px;
}
.paymentH2 {
  font-weight: 500;
  font-size: 25px;
}
.paymentTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.order {
  margin-top: 60px;
  margin-right: 100px;
  width: 250px;
}
.paymentBot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#order1 {
  background-color: #ece8de;
  padding: 2% 2%;
  padding-top: 0px;
  width: 310px;
}
.paymentUls {
  display: flex;
}
.paymentUl {
  list-style: none;
  font-size: 20px;
  padding-left: 0px;
  font-weight: 500;
  margin-right: 90px;
  margin-top: 0;
}
.paymentH3 {
  margin-top: 5px;
  font-weight: bold;
}
.paymentLi {
  margin-bottom: 20px;
}
.payment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paymentForm {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.payment-inp {
  margin-top: 35px;
  width: 330px;
  height: 45px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.payment-inp:focus {
  border-bottom: 2px solid black;
}

.payment-inp-small:focus {
  border-bottom: 2px solid black;
}

.payment-btn {
  margin-top: 20px;
  height: 65px;
  width: 250px;
  background: #6e9c9f;
  border: none;
  color: white;
  font-size: 18px;
  letter-spacing: 0.025em;
  cursor: pointer;
}
.paymentFormH1 {
  font-weight: 500;
  font-size: 55px;
}

.payment-btn:hover {
  background: #5d8d90;
  transition: 0.6s;
}
@media all and (max-width: 1024px) {
  .payment {
    padding-left: 6%;
  }
  .paymentTop {
    padding-left: 6%;
  }
  .order {
    padding-left: 10%;
  }
  .paymentBot {
    padding-left: 6%;
  }
  .paymentUls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .paymentUl {
    margin: 20px 40px;
  }
}
@media all and (max-width: 900px) {
  .paymentTop {
    padding-left: 0%;
  }
  .paymentBot {
    padding-left: 0%;
  }
  .paymentTop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paymentBot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paymentForm {
    margin-top: 30px;
  }
  .order {
    margin: 0;
    margin-top: 35px;
  }
  .paymentFormH1 {
    font-size: 46px;
  }
  .payment {
    padding: 0 6%;
  }
  .order {
    padding-left: 0;
  }
}
@media all and (max-width: 520px) {
  .paymentFormH1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
  .payment {
    padding: 3%;
  }
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }
}
@media all and (max-width: 425px) {
  .payment {
    margin-bottom: 4%;
  }
  .order {
    padding-left: 0;
    text-align: center;
  }
  .paymentUls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .paymentUl {
    margin: 20px 40px;
  }
  .payment-inp {
    width: 270px;
  }
}
@media all and (max-width: 375px) {
  .payment-inp-small {
    width: 100px;
  }
}
@media all and (max-width: 320px) {
  .payment-wrapper {
    min-height: 100vh;
  }
}
