.footer {
  background-color: #ece8de;
  display: flex;
  justify-content: space-around;
  padding: 5.5% 6%;
}
.footerSt {
  display: flex;
  cursor: pointer;
}
.startP {
  font-size: 14px;
}
.footerLogo {
  display: flex;
  flex-direction: column;
}
.footerCenter {
  display: flex;
  margin-right: 150px;
}
.footerEnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footerUl {
  list-style: none;
  margin-top: 0;
  cursor: pointer;
}
.footerUl:hover {
  color: #6e9c9f;
}
.footerTitle {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 4px;
}
.footerP {
  margin-top: 0;
}
.footerImg {
  margin: 6px 7px;
}
.footerVisa {
  width: 60px;
  margin-top: 10px;
}
.footerA:link {
  color: black;
}
.footerA:visited {
  color: black;
}
@media all and (max-width: 1024px) {
  .footerCenter {
    margin-right: 80px;
  }
}
@media all and (max-width: 860px) {
  .footer {
    width: 100%;
    padding: 5.5% 0;
  }
  .footerCenter {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 610px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerSt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerStart {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .footerEnd {
    padding: 6% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerUl {
    padding-left: 0;
  }
}
