div {
  font-family: "Raleway";
  font-weight: 500;
  /* background: #e5e5e5; */
}

.aboutPage_h1 {
  font-weight: 500;
  font-size: 55px;
  margin-left: 11%;
}
.aboutPage_main_p {
  display: flex;
  align-items: center;
  margin-left: 11%;
}
.content_aboutPage {
  /* max-width: 1107px; */
  width: 100%;
  margin: 0 auto 3 0px 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 400px; */
  height: fit-content;
}
.block_1 {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  flex-direction: row;
  /* align-items: center; */
  /* margin-bottom: 130px; */
  /* width: 1107px; */
  width: 100%;
  height: fit-content;
  /* height: 547px; */
}

.first_h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.img1_aboutPage {
  height: 547px;
  width: 442px;
}
.text_block1 {
  width: 542px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.block_2 {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}
.second_h3 {
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.text_block2 {
  width: 542px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.img2_aboutPage {
  height: 547px;
  width: 442px;
}
.btn_aboutPage {
  border: #000000;
  padding: 22px 50px 22px 75px;
  margin-top: 130px;
  background: #6e9c9f;
  color: white;
  cursor: pointer;
}
.btn_aboutPage:hover {
  background: #527e81;
}

@media (max-width: 1024px) {
  .block_1 {
    width: 1000px;
  }
  .text_block1 {
    width: 400px;
    margin-right: 40px;
  }
  .img1_aboutPage {
    width: 350px;
    margin-left: 45px;
  }
  .block_2 {
    width: 1000px;
  }
  .second_h3 {
    width: 450px;
    margin-left: 40px;
  }
  .text_block2 {
    width: 450px;
    margin-left: 40px;
  }
  .img2_aboutPage {
    width: 350px;
    height: 450px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .block_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .block_2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
  }
  .text_block1 {
    width: 100%;
  }
  .img2_aboutPage {
    width: 100%;
    height: fit-content;
  }
  .text_block2 {
    width: 100%;
  }
}
@media (min-width: 425px) {
  .block_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
  }
}
